.label {
    color: #78b1eb;
    font-size: 15pt;
}
.labelbig {
    color: #78b1eb;
    font-size: 24pt;
    font-weight: bold;
}
.dateInput {
    width: 30%;
}
/* .form-control {
    white-space: normal;
    word-wrap: break-word;
} */

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    
    width: 30px !important;
    height: 30px !important;
}