<div class="container col-6">
    <div class="row">
        <div class="col text-center">
            <label for="title" class="labelbig">Job</label>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <label for="title" class="label">Title</label>
            <input class="form-control" 
                   type="text"
                   style="text-align: center;"
                   disabled="true"
                   [ngModel]="work?.title"
                   (ngModelChange)="work.title = $event"
                   >
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <label for="title" class="label">Description</label>
            <textarea class="form-control new" 
                   type="text"
                   cols="30" 
                   rows="5"
                   style="text-align: center;"
                   disabled="true"
                   [ngModel]="work?.description"
                   (ngModelChange)="work.description = $event"
                   ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <label for="title" class="label">Job begin</label>
            <input class="form-control" 
                   type="text"
                   style="text-align: center;"
                   disabled="true"
                   [ngModel]="work?.workBegin"
                   (ngModelChange)="work.workBegin = $event"
                   >
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <label for="title" class="label">Job end</label>
            <input class="form-control" 
                   type="text"
                   style="text-align: center;"
                   disabled="true"
                   [ngModel]="work?.workEnd"
                   (ngModelChange)="work.workEnd = $event"
                   >
            <label for="title" class="label mt-5">Job tasks</label>
        </div>
    </div>
    <div class="row">
    <table class="table table-striped mt-4 mb-5" style="text-align: center;">
        <thead>
            <tr>
                <th style="width: 30%;">
                    <div>
                        Task title
                    </div>
                </th>
                <th style="width: 30%;">
                    <div>
                        Task description
                    </div>
                </th>
                <th style="width: 30%;">
                    <div>
                        
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let w of work?.workTasks">
                <td>
                  <div>
                      {{w.title}}
                  </div>
                </td>
                <td>
                  <div>
                    {{w.description}}
                  </div>
                </td>
                <td>
                    <div>
                      <input type="checkbox" class="checkboxClass" checked="checked"
                             *ngIf="w.isComplete == true && work?.workStatusName == 'InProgress'" (click)="updateWorkTask(w.id, w.isComplete)">
                      <input type="checkbox" class="" 
                             *ngIf="w.isComplete == false && work?.workStatusName == 'InProgress'" (click)="updateWorkTask(w.id, w.isComplete)">
                      <input type="checkbox" class="checkboxClass" checked="checked" disabled="true"
                             *ngIf="w.isComplete == true && work?.workStatusName != 'InProgress'">
                      <input type="checkbox" class="" disabled="true"
                             *ngIf="w.isComplete == false && work?.workStatusName != 'InProgress'">
                    </div>
                  </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-12 text-right">
            <button  class="btn btn-danger mr-2"
                     *ngIf="work?.workStatusName == 'InProgress'" (click)="finishJob()">End job</button>
            <button  class="btn btn-danger mr-2"
                     *ngIf="work?.workStatusName == 'Pending'" (click)="finishJob()">Decline job</button>
            <button  class="btn btn-success"
                     *ngIf="work?.workStatusName == 'Pending'" (click)="acceptJob()">Accept job</button>
            <button  class="btn btn-success"
                     *ngIf="work?.workStatusName == 'InProgress'" (click)="backClicked()">Back to jobs</button>
        </div>
    </div>
</div>
