<div class="container">
<div class="row mt-2 mb-5">
    <div class="col text-center">
        <label for="title" class="labelbig">{{offerCat | titlecase}}</label>
    </div>
</div>
<div class="row mb-5">
    <div class="col-sm-2"></div>
    <div class="col-8">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th style="width: 40%;">
                        <div style="text-align: left; margin-left: 65px;">
                            Offer title
                        </div>
                    </th>
                    <th style="width: 20%;">
                        <div style="text-align: center; ">
                            Company name
                        </div>
                    </th>
                    <th style="width: 20%;"></th>
                    <th style="width: 20%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offer of offers">
                    <td>
                        <div style="margin-top: 40px;  text-align: left; margin-left: 65px;">
                            {{offer.title}}
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: 40px; text-align: center;">
                            {{offer.companyName}}
                        </div>
                    </td>
                    <td>
                        <button style="margin-top: 40px; margin-left: 20px;" class="btn btn-info" routerLink='/offer-show/{{offer.id}}' routerLinkActive='active'>Show offer</button>
                    </td>
                    <td  style="text-align: center;" >
                            <div *ngIf="offer.photos == 0">
                                <img src="{{'./assets/icons/offer.png'}}" alt="photo" 
                                    class="card-img img-thumbnail">
                            </div>
                            <div *ngIf="offer.photos.length != 0">
                                <div *ngFor="let photo of offer.photos">
                                    <img *ngIf="photo.isMain == true"
                                    src="{{photo.url || './assets/icons/offer.png'}}" alt="photo" 
                                    class="card-img img-thumbnail">
                                </div>
                            </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>
</div>