<div class="container">
    <div class="row justify-content-center mt-4">
        
        <div class="col-2 justify-content-left"></div>
        <div class="col-2">
            <div class="name ml-2">Categories</div>
        </div> 
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center mt-4">
        <div class="col-2 mt-2">
            <img class="image leftclass" src="../../assets/icons/remont.png" routerLink='/offers-main/{{"renovation"}}' routerLinkActive='active'/>
            <div class="inner col-6">Renovation</div>
        </div>
        <div class="col-2 ml-2">
            <img class="image" src="../../assets/icons/malowanie.png" routerLink='/offers-main/{{"painting"}}' routerLinkActive='active'/>
            <div class="inner col-6">Painting</div>
        </div> 
        <div class="col-2">
            <img class="image" src="../../assets/icons/transport.png" routerLink='/offers-main/{{"transport"}}' routerLinkActive='active'/>
            <div class="inner col-6">Transport</div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-4">
        <div class="col-2">
            <img class="image leftclass" src="../../assets/icons/elektryk.png" routerLink='/offers-main/{{"electrician"}}' routerLinkActive='active'/>
            <div class="inner col-6">Electrician</div>
        </div> 
        <div class="col-2 ml-2">
            <img class="image" src="../../assets/icons/montaż.png" routerLink='/offers-main/{{"assembly"}}' routerLinkActive='active'/>
            <div class="inner col-6">Assembly</div>
        </div> 
        <div class="col-2">
            <img class="image leftclass" src="../../assets/icons/elektronika.png" routerLink='/offers-main/{{"electronics"}}' routerLinkActive='active'/>
            <div class="inner col-6">Electronics</div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-4">
        <div class="col-2">
            <img class="image " src="../../assets/icons/hydraulik.png" routerLink='/offers-main/{{"plumber"}}' routerLinkActive='active'/>
            <div class="inner col-6">Plumber</div>
        </div> 
        <div class="col-2 ml-2">
            <img class="image" src="../../assets/icons/sprzątanie.png" routerLink='/offers-main/{{"cleaning"}}' routerLinkActive='active'/>
            <div class="inner col-6">Cleaning</div>
        </div> 
        <div class="col-2">
            <img class="image leftclass ml-3" src="../../assets/icons/reka.png" routerLink='/offers-main/{{"handyman"}}' routerLinkActive='active'/>
            <div class="inner col-6">Handyman</div>
        </div>
    </div>
</div>