<div class="container">
    <div class="row justify-content-center mt-4">
        
        <div class="col-2 justify-content-left"></div>
        <div class="col-2">
            <div class="name ml-2">Categories</div>
        </div> 
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center mt-4">
        <div class="col-2 mt-2">
            <img class="image leftclass" src="../../assets/icons/remont.png" (click)="category('renovation')"/>
            <div class="inner col-6">Renovation</div>
        </div>
        <div class="col-2 ml-2">
            <img class="image" src="../../assets/icons/malowanie.png" (click)="category('painting')"/>
            <div class="inner col-6">Painting</div>
        </div> 
        <div class="col-2">
            <img class="image" src="../../assets/icons/transport.png" (click)="category('transport')"/>
            <div class="inner col-6">Transport</div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-4">
        <div class="col-2">
            <img class="image leftclass" src="../../assets/icons/elektryk.png" (click)="category('electrician')"/>
            <div class="inner col-6">Electrician</div>
        </div> 
        <div class="col-2 ml-2">
            <img class="image" src="../../assets/icons/montaż.png" (click)="category('assembly')"/>
            <div class="inner col-6">Assembly</div>
        </div> 
        <div class="col-2">
            <img class="image leftclass" src="../../assets/icons/elektronika.png" (click)="category('electronics')"/>
            <div class="inner col-6">Electronics</div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-4">
        <div class="col-2">
            <img class="image " src="../../assets/icons/hydraulik.png" (click)="category('plumber')"/>
            <div class="inner col-6">Plumber</div>
        </div> 
        <div class="col-2 ml-2">
            <img class="image" src="../../assets/icons/sprzątanie.png" (click)="category('cleaning')"/>
            <div class="inner col-6">Cleaning</div>
        </div> 
        <div class="col-2">
            <img class="image leftclass ml-3" src="../../assets/icons/reka.png" (click)="category('handyman')"/>
            <div class="inner col-6">Handyman</div>
        </div>
    </div>
</div>